@import './base.css';

/* Các style toàn cục sẽ được thêm vào đây nếu cần */
.app-header {
  background-color: #009688;
}

.app-sidebar__toggle:hover {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.1);
}

.app-nav__item:hover, .app-nav__item:focus {
  background-color: rgba(0, 0, 0, 0.1);
  color: #000000;
}

.app-menu__item.active, .app-menu__item:hover, .app-menu__item:focus {
  background: #181f23;
  color: #000000;
  border-left-color: #009688;
}

.app-menu__item.haha {
  background: #181f23;
  color: black
}

/* Đặt màu chữ mặc định cho các mục menu */
.app-menu__item .app-menu__label {
  color: #000000; /* Thay #your_desired_color bằng mã màu bạn muốn, ví dụ: #000000 cho màu đen */
}
